USE [master]
GO
/****** Object:  Database [Db_DACN_Test]    Script Date: 10/14/2025 10:31:21 AM ******/
CREATE DATABASE [Db_DACN_Test]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Db_DACN_Test', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\Db_DACN_Test.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Db_DACN_Test_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\Db_DACN_Test_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Db_DACN_Test].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Db_DACN_Test]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 10/14/2025 10:31:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AnhSanPham]    Script Date: 10/14/2025 10:31:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AnhSanPham](
	[AnhSanPhamId] [int] IDENTITY(1,1) NOT NULL,
	[SanPhamId] [int] NOT NULL,
	[Url] [nvarchar](1000) NOT NULL,
	[ThuTu] [int] NULL,
	[MacDinh] [bit] NULL,
	[MoTa] [nvarchar](500) NULL,
 CONSTRAINT [PK_dbo.AnhSanPham] PRIMARY KEY CLUSTERED 
(
	[AnhSanPhamId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AnhSanPham_BienThe]    Script Date: 10/14/2025 10:31:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AnhSanPham_BienThe](
	[AnhSanPhamId] [int] NOT NULL,
	[BienTheId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.AnhSanPham_BienThe] PRIMARY KEY CLUSTERED 
(
	[AnhSanPhamId] ASC,
	[BienTheId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetRoles]    Script Date: 10/14/2025 10:31:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoles](
	[Id] [nvarchar](128) NOT NULL,
	[Name] [nvarchar](256) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetRoles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserClaims]    Script Date: 10/14/2025 10:31:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.AspNetUserClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserLogins]    Script Date: 10/14/2025 10:31:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserLogins](
	[LoginProvider] [nvarchar](128) NOT NULL,
	[ProviderKey] [nvarchar](128) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUserLogins] PRIMARY KEY CLUSTERED 
(
	[LoginProvider] ASC,
	[ProviderKey] ASC,
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserRoles]    Script Date: 10/14/2025 10:31:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserRoles](
	[UserId] [nvarchar](128) NOT NULL,
	[RoleId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUserRoles] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUsers]    Script Date: 10/14/2025 10:31:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUsers](
	[Id] [nvarchar](128) NOT NULL,
	[Fullname] [nvarchar](max) NULL,
	[Phone] [nvarchar](max) NULL,
	[Email] [nvarchar](256) NULL,
	[EmailConfirmed] [bit] NOT NULL,
	[PasswordHash] [nvarchar](max) NULL,
	[SecurityStamp] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[PhoneNumberConfirmed] [bit] NOT NULL,
	[TwoFactorEnabled] [bit] NOT NULL,
	[LockoutEndDateUtc] [datetime] NULL,
	[LockoutEnabled] [bit] NOT NULL,
	[AccessFailedCount] [int] NOT NULL,
	[UserName] [nvarchar](256) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUsers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BienTheGiaTri]    Script Date: 10/14/2025 10:31:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BienTheGiaTri](
	[BienTheId] [int] NOT NULL,
	[GiaTriId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.BienTheGiaTri] PRIMARY KEY CLUSTERED 
(
	[BienTheId] ASC,
	[GiaTriId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BienTheSanPham]    Script Date: 10/14/2025 10:31:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BienTheSanPham](
	[BienTheId] [int] IDENTITY(1,1) NOT NULL,
	[SanPhamId] [int] NOT NULL,
	[SKU] [nvarchar](100) NULL,
	[Gia] [decimal](18, 2) NULL,
	[GiaKhuyenMai] [decimal](18, 2) NULL,
	[MaVach] [nvarchar](100) NULL,
	[TrangThai] [bit] NULL,
	[NgayTao] [datetime2](7) NULL,
 CONSTRAINT [PK_dbo.BienTheSanPham] PRIMARY KEY CLUSTERED 
(
	[BienTheId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BinhLuan]    Script Date: 10/14/2025 10:31:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BinhLuan](
	[BinhLuanId] [int] IDENTITY(1,1) NOT NULL,
	[SanPhamId] [int] NOT NULL,
	[KhachHangId] [int] NULL,
	[NoiDung] [nvarchar](2000) NOT NULL,
	[Sao] [int] NULL,
	[NgayTao] [datetime2](7) NULL,
	[TrangThai] [bit] NULL,
	[UserId] [nvarchar](128) NULL,
 CONSTRAINT [PK_dbo.BinhLuan] PRIMARY KEY CLUSTERED 
(
	[BinhLuanId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CauHinh]    Script Date: 10/14/2025 10:31:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CauHinh](
	[KeyName] [nvarchar](200) NOT NULL,
	[Value] [nvarchar](max) NULL,
	[MoTa] [nvarchar](500) NULL,
 CONSTRAINT [PK_dbo.CauHinh] PRIMARY KEY CLUSTERED 
(
	[KeyName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DanhMuc]    Script Date: 10/14/2025 10:31:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DanhMuc](
	[DanhMucId] [int] IDENTITY(1,1) NOT NULL,
	[TenDanhMuc] [nvarchar](200) NOT NULL,
	[Slug] [nvarchar](200) NULL,
	[MoTa] [nvarchar](1000) NULL,
	[DanhMucChaId] [int] NULL,
	[TrangThai] [bit] NULL,
	[NgayTao] [datetime2](7) NULL,
	[NgayCapNhat] [datetime2](7) NULL,
 CONSTRAINT [PK_dbo.DanhMuc] PRIMARY KEY CLUSTERED 
(
	[DanhMucId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DiaChiGiaoHang]    Script Date: 10/14/2025 10:31:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DiaChiGiaoHang](
	[DiaChiId] [int] IDENTITY(1,1) NOT NULL,
	[KhachHangId] [int] NULL,
	[HoTen] [nvarchar](200) NOT NULL,
	[DienThoai] [nvarchar](50) NOT NULL,
	[DiaChiChiTiet] [nvarchar](500) NOT NULL,
	[Tinh] [nvarchar](200) NULL,
	[Huyen] [nvarchar](200) NULL,
	[Xa] [nvarchar](200) NULL,
	[MacDinh] [bit] NULL,
	[Email] [nvarchar](200) NULL,
 CONSTRAINT [PK_dbo.DiaChiGiaoHang] PRIMARY KEY CLUSTERED 
(
	[DiaChiId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DonHang]    Script Date: 10/14/2025 10:31:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DonHang](
	[DonHangId] [bigint] IDENTITY(1,1) NOT NULL,
	[MaDonHang] [nvarchar](100) NULL,
	[KhachHangId] [int] NULL,
	[NguoiDungId] [uniqueidentifier] NULL,
	[TongTien] [decimal](18, 2) NOT NULL,
	[PhiVanChuyen] [decimal](18, 2) NULL,
	[PhuongThucThanhToanId] [int] NULL,
	[TrangThai] [int] NULL,
	[NgayTao] [datetime2](7) NULL,
	[NgayCapNhat] [datetime2](7) NULL,
	[GhiChu] [nvarchar](1000) NULL,
	[DiaChiGiaoHangId] [int] NULL,
	[Email] [nvarchar](150) NULL,
 CONSTRAINT [PK_dbo.DonHang] PRIMARY KEY CLUSTERED 
(
	[DonHangId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DonHangChiTiet]    Script Date: 10/14/2025 10:31:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DonHangChiTiet](
	[DonHangChiTietId] [bigint] IDENTITY(1,1) NOT NULL,
	[DonHangId] [bigint] NOT NULL,
	[BienTheId] [int] NOT NULL,
	[SoLuong] [int] NOT NULL,
	[DonGia] [decimal](18, 2) NOT NULL,
	[ThanhTien] [decimal](29, 2) NULL,
	[GhiChu] [nvarchar](500) NULL,
 CONSTRAINT [PK_dbo.DonHangChiTiet] PRIMARY KEY CLUSTERED 
(
	[DonHangChiTietId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DonHangGiaoHang]    Script Date: 10/14/2025 10:31:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DonHangGiaoHang](
	[DonHangGiaoId] [bigint] IDENTITY(1,1) NOT NULL,
	[DonHangId] [bigint] NOT NULL,
	[NguoiPhuTrach] [uniqueidentifier] NULL,
	[MaDonHangNhaVanChuyen] [nvarchar](200) NULL,
	[TrangThai] [int] NULL,
	[NgayGiao] [datetime2](7) NULL,
 CONSTRAINT [PK_dbo.DonHangGiaoHang] PRIMARY KEY CLUSTERED 
(
	[DonHangGiaoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Favorite]    Script Date: 10/14/2025 10:31:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Favorite](
	[FavoriteId] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
	[SanPhamId] [int] NOT NULL,
	[NgayTao] [datetime] NOT NULL,
 CONSTRAINT [PK_dbo.Favorite] PRIMARY KEY CLUSTERED 
(
	[FavoriteId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GiaTriThuocTinh]    Script Date: 10/14/2025 10:31:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GiaTriThuocTinh](
	[GiaTriId] [int] IDENTITY(1,1) NOT NULL,
	[ThuocTinhId] [int] NOT NULL,
	[TenGiaTri] [nvarchar](200) NOT NULL,
 CONSTRAINT [PK_dbo.GiaTriThuocTinh] PRIMARY KEY CLUSTERED 
(
	[GiaTriId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GioHang]    Script Date: 10/14/2025 10:31:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GioHang](
	[GioHangId] [bigint] IDENTITY(1,1) NOT NULL,
	[KhachHangId] [int] NULL,
	[NguoiDungId] [uniqueidentifier] NULL,
	[NgayTao] [datetime2](7) NULL,
	[TrangThai] [int] NULL,
 CONSTRAINT [PK_dbo.GioHang] PRIMARY KEY CLUSTERED 
(
	[GioHangId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GioHangChiTiet]    Script Date: 10/14/2025 10:31:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GioHangChiTiet](
	[GioHangChiTietId] [bigint] IDENTITY(1,1) NOT NULL,
	[GioHangId] [bigint] NOT NULL,
	[BienTheId] [int] NOT NULL,
	[SoLuong] [int] NOT NULL,
	[DonGia] [decimal](18, 2) NOT NULL,
	[ThanhTien] [decimal](29, 2) NULL,
 CONSTRAINT [PK_dbo.GioHangChiTiet] PRIMARY KEY CLUSTERED 
(
	[GioHangChiTietId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HinhAnhTinTuc]    Script Date: 10/14/2025 10:31:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HinhAnhTinTuc](
	[HinhAnhId] [int] IDENTITY(1,1) NOT NULL,
	[TinTucId] [int] NOT NULL,
	[Url] [nvarchar](1000) NOT NULL,
 CONSTRAINT [PK_dbo.HinhAnhTinTuc] PRIMARY KEY CLUSTERED 
(
	[HinhAnhId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KhachHang]    Script Date: 10/14/2025 10:31:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhachHang](
	[KhachHangId] [int] IDENTITY(1,1) NOT NULL,
	[NguoiDungId] [uniqueidentifier] NULL,
	[NgaySinh] [date] NULL,
	[GioiTinh] [nvarchar](20) NULL,
	[DiaChiMacDinhId] [int] NULL,
	[TongDiemTichLuy] [int] NULL,
 CONSTRAINT [PK_dbo.KhachHang] PRIMARY KEY CLUSTERED 
(
	[KhachHangId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Kho]    Script Date: 10/14/2025 10:31:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Kho](
	[KhoId] [int] IDENTITY(1,1) NOT NULL,
	[TenKho] [nvarchar](200) NOT NULL,
	[DiaChi] [nvarchar](500) NULL,
	[DienThoai] [nvarchar](50) NULL,
	[TrangThai] [bit] NULL,
 CONSTRAINT [PK_dbo.Kho] PRIMARY KEY CLUSTERED 
(
	[KhoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KhuyenMai]    Script Date: 10/14/2025 10:31:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhuyenMai](
	[KhuyenMaiId] [int] IDENTITY(1,1) NOT NULL,
	[MaKM] [nvarchar](100) NULL,
	[TenKM] [nvarchar](300) NOT NULL,
	[Loai] [nvarchar](50) NULL,
	[GiaTri] [decimal](18, 2) NULL,
	[NgayBatDau] [datetime2](7) NULL,
	[NgayKetThuc] [datetime2](7) NULL,
	[DieuKien] [nvarchar](500) NULL,
	[TrangThai] [bit] NULL,
 CONSTRAINT [PK_dbo.KhuyenMai] PRIMARY KEY CLUSTERED 
(
	[KhuyenMaiId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LichSuGia]    Script Date: 10/14/2025 10:31:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LichSuGia](
	[LichSuGiaId] [int] IDENTITY(1,1) NOT NULL,
	[BienTheId] [int] NOT NULL,
	[GiaCu] [decimal](18, 2) NULL,
	[GiaMoi] [decimal](18, 2) NULL,
	[NguoiThucHien] [uniqueidentifier] NULL,
	[NgayThucHien] [datetime2](7) NULL,
 CONSTRAINT [PK_dbo.LichSuGia] PRIMARY KEY CLUSTERED 
(
	[LichSuGiaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LichSuTonKho]    Script Date: 10/14/2025 10:31:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LichSuTonKho](
	[LichSuId] [int] IDENTITY(1,1) NOT NULL,
	[BienTheId] [int] NOT NULL,
	[KhoId] [int] NOT NULL,
	[SoThayDoi] [int] NOT NULL,
	[GhiChu] [nvarchar](500) NULL,
	[NguoiThucHien] [uniqueidentifier] NULL,
	[NgayThucHien] [datetime2](7) NULL,
 CONSTRAINT [PK_dbo.LichSuTonKho] PRIMARY KEY CLUSTERED 
(
	[LichSuId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NguoiDung]    Script Date: 10/14/2025 10:31:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NguoiDung](
	[Id] [uniqueidentifier] NOT NULL,
	[TenDangNhap] [nvarchar](256) NULL,
	[Email] [nvarchar](256) NULL,
	[HoTen] [nvarchar](200) NULL,
	[DienThoai] [nvarchar](50) NULL,
	[NgayTao] [datetime2](7) NULL,
	[TrangThai] [bit] NULL,
 CONSTRAINT [PK_dbo.NguoiDung] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhuongThucThanhToan]    Script Date: 10/14/2025 10:31:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhuongThucThanhToan](
	[PhuongThucId] [int] IDENTITY(1,1) NOT NULL,
	[TenPhuongThuc] [nvarchar](200) NOT NULL,
	[MoTa] [nvarchar](500) NULL,
	[Active] [bit] NULL,
 CONSTRAINT [PK_dbo.PhuongThucThanhToan] PRIMARY KEY CLUSTERED 
(
	[PhuongThucId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SanPham]    Script Date: 10/14/2025 10:31:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SanPham](
	[SanPhamId] [int] IDENTITY(1,1) NOT NULL,
	[MaSanPham] [nvarchar](50) NULL,
	[TenSanPham] [nvarchar](300) NOT NULL,
	[Slug] [nvarchar](300) NULL,
	[MoTaNgan] [nvarchar](500) NULL,
	[MoTaChiTiet] [nvarchar](max) NULL,
	[GiaBan] [decimal](18, 2) NOT NULL,
	[GiaGoc] [decimal](18, 2) NULL,
	[DanhMucId] [int] NULL,
	[TrangThai] [int] NULL,
	[LuotXem] [int] NULL,
	[NgayTao] [datetime2](7) NULL,
	[NgayCapNhat] [datetime2](7) NULL,
 CONSTRAINT [PK_dbo.SanPham] PRIMARY KEY CLUSTERED 
(
	[SanPhamId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SanPhamKhuyenMai]    Script Date: 10/14/2025 10:31:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SanPhamKhuyenMai](
	[KhuyenMaiId] [int] NOT NULL,
	[SanPhamId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.SanPhamKhuyenMai] PRIMARY KEY CLUSTERED 
(
	[KhuyenMaiId] ASC,
	[SanPhamId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ThongKeDoanhThu]    Script Date: 10/14/2025 10:31:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ThongKeDoanhThu](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Ngay] [datetime] NOT NULL,
	[DoanhThu] [decimal](18, 2) NOT NULL,
	[DonHangHoanThanh] [int] NOT NULL,
	[SanPhamBanRa] [int] NOT NULL,
	[NgayCapNhat] [datetime] NOT NULL,
 CONSTRAINT [PK_dbo.ThongKeDoanhThu] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ThongKeSanPham]    Script Date: 10/14/2025 10:31:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ThongKeSanPham](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[SanPhamId] [int] NOT NULL,
	[LuotXem] [int] NOT NULL,
	[SoLuongBan] [int] NOT NULL,
	[SoLuongHuy_Khach] [int] NOT NULL,
	[SoLuongHuy_Admin] [int] NOT NULL,
	[NgayCapNhat] [datetime] NOT NULL,
 CONSTRAINT [PK_dbo.ThongKeSanPham] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ThuocTinh]    Script Date: 10/14/2025 10:31:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ThuocTinh](
	[ThuocTinhId] [int] IDENTITY(1,1) NOT NULL,
	[TenThuocTinh] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_dbo.ThuocTinh] PRIMARY KEY CLUSTERED 
(
	[ThuocTinhId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TinTuc]    Script Date: 10/14/2025 10:31:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TinTuc](
	[TinTucId] [int] IDENTITY(1,1) NOT NULL,
	[TieuDe] [nvarchar](400) NOT NULL,
	[Slug] [nvarchar](400) NULL,
	[TomTat] [nvarchar](1000) NULL,
	[NoiDung] [nvarchar](max) NULL,
	[NgayDang] [datetime2](7) NULL,
	[TrangThai] [bit] NULL,
 CONSTRAINT [PK_dbo.TinTuc] PRIMARY KEY CLUSTERED 
(
	[TinTucId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TonKho]    Script Date: 10/14/2025 10:31:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TonKho](
	[TonKhoId] [int] IDENTITY(1,1) NOT NULL,
	[BienTheId] [int] NOT NULL,
	[KhoId] [int] NOT NULL,
	[SoLuong] [int] NULL,
	[NgayCapNhat] [datetime2](7) NULL,
 CONSTRAINT [PK_dbo.TonKho] PRIMARY KEY CLUSTERED 
(
	[TonKhoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IX_AnhSanPham_SanPhamId_MacDinh]    Script Date: 10/14/2025 10:31:22 AM ******/
CREATE NONCLUSTERED INDEX [IX_AnhSanPham_SanPhamId_MacDinh] ON [dbo].[AnhSanPham]
(
	[SanPhamId] ASC,
	[MacDinh] ASC
)
INCLUDE([Url],[ThuTu]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_SanPhamId]    Script Date: 10/14/2025 10:31:22 AM ******/
CREATE NONCLUSTERED INDEX [IX_SanPhamId] ON [dbo].[AnhSanPham]
(
	[SanPhamId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_AnhSanPhamId]    Script Date: 10/14/2025 10:31:22 AM ******/
CREATE NONCLUSTERED INDEX [IX_AnhSanPhamId] ON [dbo].[AnhSanPham_BienThe]
(
	[AnhSanPhamId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_BienTheId]    Script Date: 10/14/2025 10:31:22 AM ******/
CREATE NONCLUSTERED INDEX [IX_BienTheId] ON [dbo].[AnhSanPham_BienThe]
(
	[BienTheId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [RoleNameIndex]    Script Date: 10/14/2025 10:31:22 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [RoleNameIndex] ON [dbo].[AspNetRoles]
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_UserId]    Script Date: 10/14/2025 10:31:22 AM ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[AspNetUserClaims]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_UserId]    Script Date: 10/14/2025 10:31:22 AM ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[AspNetUserLogins]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_RoleId]    Script Date: 10/14/2025 10:31:22 AM ******/
CREATE NONCLUSTERED INDEX [IX_RoleId] ON [dbo].[AspNetUserRoles]
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_UserId]    Script Date: 10/14/2025 10:31:22 AM ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[AspNetUserRoles]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UserNameIndex]    Script Date: 10/14/2025 10:31:22 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UserNameIndex] ON [dbo].[AspNetUsers]
(
	[UserName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_BienTheId]    Script Date: 10/14/2025 10:31:22 AM ******/
CREATE NONCLUSTERED INDEX [IX_BienTheId] ON [dbo].[BienTheGiaTri]
(
	[BienTheId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_GiaTriId]    Script Date: 10/14/2025 10:31:22 AM ******/
CREATE NONCLUSTERED INDEX [IX_GiaTriId] ON [dbo].[BienTheGiaTri]
(
	[GiaTriId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_BienTheSanPham_SanPhamId_TrangThai]    Script Date: 10/14/2025 10:31:22 AM ******/
CREATE NONCLUSTERED INDEX [IX_BienTheSanPham_SanPhamId_TrangThai] ON [dbo].[BienTheSanPham]
(
	[SanPhamId] ASC,
	[TrangThai] ASC
)
INCLUDE([Gia],[GiaKhuyenMai],[NgayTao]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_SanPhamId]    Script Date: 10/14/2025 10:31:22 AM ******/
CREATE NONCLUSTERED INDEX [IX_SanPhamId] ON [dbo].[BienTheSanPham]
(
	[SanPhamId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_BinhLuan_SanPhamId_TrangThai]    Script Date: 10/14/2025 10:31:22 AM ******/
CREATE NONCLUSTERED INDEX [IX_BinhLuan_SanPhamId_TrangThai] ON [dbo].[BinhLuan]
(
	[SanPhamId] ASC,
	[TrangThai] ASC
)
INCLUDE([Sao],[NgayTao]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_SanPhamId]    Script Date: 10/14/2025 10:31:22 AM ******/
CREATE NONCLUSTERED INDEX [IX_SanPhamId] ON [dbo].[BinhLuan]
(
	[SanPhamId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_UserId]    Script Date: 10/14/2025 10:31:22 AM ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[BinhLuan]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_DanhMucChaId]    Script Date: 10/14/2025 10:31:22 AM ******/
CREATE NONCLUSTERED INDEX [IX_DanhMucChaId] ON [dbo].[DanhMuc]
(
	[DanhMucChaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_KhachHangId]    Script Date: 10/14/2025 10:31:22 AM ******/
CREATE NONCLUSTERED INDEX [IX_KhachHangId] ON [dbo].[DiaChiGiaoHang]
(
	[KhachHangId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_DiaChiGiaoHangId]    Script Date: 10/14/2025 10:31:22 AM ******/
CREATE NONCLUSTERED INDEX [IX_DiaChiGiaoHangId] ON [dbo].[DonHang]
(
	[DiaChiGiaoHangId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_KhachHangId]    Script Date: 10/14/2025 10:31:22 AM ******/
CREATE NONCLUSTERED INDEX [IX_KhachHangId] ON [dbo].[DonHang]
(
	[KhachHangId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_BienTheId]    Script Date: 10/14/2025 10:31:22 AM ******/
CREATE NONCLUSTERED INDEX [IX_BienTheId] ON [dbo].[DonHangChiTiet]
(
	[BienTheId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_DonHangId]    Script Date: 10/14/2025 10:31:22 AM ******/
CREATE NONCLUSTERED INDEX [IX_DonHangId] ON [dbo].[DonHangChiTiet]
(
	[DonHangId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_DonHangId]    Script Date: 10/14/2025 10:31:22 AM ******/
CREATE NONCLUSTERED INDEX [IX_DonHangId] ON [dbo].[DonHangGiaoHang]
(
	[DonHangId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_SanPhamId]    Script Date: 10/14/2025 10:31:22 AM ******/
CREATE NONCLUSTERED INDEX [IX_SanPhamId] ON [dbo].[Favorite]
(
	[SanPhamId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_UserId]    Script Date: 10/14/2025 10:31:22 AM ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[Favorite]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ThuocTinhId]    Script Date: 10/14/2025 10:31:22 AM ******/
CREATE NONCLUSTERED INDEX [IX_ThuocTinhId] ON [dbo].[GiaTriThuocTinh]
(
	[ThuocTinhId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_BienTheId]    Script Date: 10/14/2025 10:31:22 AM ******/
CREATE NONCLUSTERED INDEX [IX_BienTheId] ON [dbo].[GioHangChiTiet]
(
	[BienTheId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_GioHangId]    Script Date: 10/14/2025 10:31:22 AM ******/
CREATE NONCLUSTERED INDEX [IX_GioHangId] ON [dbo].[GioHangChiTiet]
(
	[GioHangId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_TinTucId]    Script Date: 10/14/2025 10:31:22 AM ******/
CREATE NONCLUSTERED INDEX [IX_TinTucId] ON [dbo].[HinhAnhTinTuc]
(
	[TinTucId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_NguoiDungId]    Script Date: 10/14/2025 10:31:22 AM ******/
CREATE NONCLUSTERED INDEX [IX_NguoiDungId] ON [dbo].[KhachHang]
(
	[NguoiDungId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_BienTheId]    Script Date: 10/14/2025 10:31:22 AM ******/
CREATE NONCLUSTERED INDEX [IX_BienTheId] ON [dbo].[LichSuGia]
(
	[BienTheId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_LichSuGia_BienTheId_NgayThucHien]    Script Date: 10/14/2025 10:31:22 AM ******/
CREATE NONCLUSTERED INDEX [IX_LichSuGia_BienTheId_NgayThucHien] ON [dbo].[LichSuGia]
(
	[BienTheId] ASC,
	[NgayThucHien] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_BienTheId]    Script Date: 10/14/2025 10:31:22 AM ******/
CREATE NONCLUSTERED INDEX [IX_BienTheId] ON [dbo].[LichSuTonKho]
(
	[BienTheId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_KhoId]    Script Date: 10/14/2025 10:31:22 AM ******/
CREATE NONCLUSTERED INDEX [IX_KhoId] ON [dbo].[LichSuTonKho]
(
	[KhoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_LichSuTonKho_BienTheId_NgayThucHien]    Script Date: 10/14/2025 10:31:22 AM ******/
CREATE NONCLUSTERED INDEX [IX_LichSuTonKho_BienTheId_NgayThucHien] ON [dbo].[LichSuTonKho]
(
	[BienTheId] ASC,
	[NgayThucHien] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_DanhMucId]    Script Date: 10/14/2025 10:31:22 AM ******/
CREATE NONCLUSTERED INDEX [IX_DanhMucId] ON [dbo].[SanPham]
(
	[DanhMucId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_SanPham_DanhMuc_TrangThai]    Script Date: 10/14/2025 10:31:22 AM ******/
CREATE NONCLUSTERED INDEX [IX_SanPham_DanhMuc_TrangThai] ON [dbo].[SanPham]
(
	[DanhMucId] ASC,
	[TrangThai] ASC,
	[SanPhamId] ASC
)
INCLUDE([TenSanPham],[GiaBan],[GiaGoc],[Slug],[NgayTao]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_SanPham_TenSanPham]    Script Date: 10/14/2025 10:31:22 AM ******/
CREATE NONCLUSTERED INDEX [IX_SanPham_TenSanPham] ON [dbo].[SanPham]
(
	[TenSanPham] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_KhuyenMaiId]    Script Date: 10/14/2025 10:31:22 AM ******/
CREATE NONCLUSTERED INDEX [IX_KhuyenMaiId] ON [dbo].[SanPhamKhuyenMai]
(
	[KhuyenMaiId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_SanPhamId]    Script Date: 10/14/2025 10:31:22 AM ******/
CREATE NONCLUSTERED INDEX [IX_SanPhamId] ON [dbo].[SanPhamKhuyenMai]
(
	[SanPhamId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_SanPhamKhuyenMai_SanPhamId]    Script Date: 10/14/2025 10:31:22 AM ******/
CREATE NONCLUSTERED INDEX [IX_SanPhamKhuyenMai_SanPhamId] ON [dbo].[SanPhamKhuyenMai]
(
	[SanPhamId] ASC
)
INCLUDE([KhuyenMaiId]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_SanPhamId]    Script Date: 10/14/2025 10:31:22 AM ******/
CREATE NONCLUSTERED INDEX [IX_SanPhamId] ON [dbo].[ThongKeSanPham]
(
	[SanPhamId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_BienTheId]    Script Date: 10/14/2025 10:31:22 AM ******/
CREATE NONCLUSTERED INDEX [IX_BienTheId] ON [dbo].[TonKho]
(
	[BienTheId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_KhoId]    Script Date: 10/14/2025 10:31:22 AM ******/
CREATE NONCLUSTERED INDEX [IX_KhoId] ON [dbo].[TonKho]
(
	[KhoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_TonKho_BienTheId_SoLuong]    Script Date: 10/14/2025 10:31:22 AM ******/
CREATE NONCLUSTERED INDEX [IX_TonKho_BienTheId_SoLuong] ON [dbo].[TonKho]
(
	[BienTheId] ASC,
	[KhoId] ASC
)
INCLUDE([SoLuong],[NgayCapNhat]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AnhSanPham]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AnhSanPham_dbo.SanPham_SanPhamId] FOREIGN KEY([SanPhamId])
REFERENCES [dbo].[SanPham] ([SanPhamId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AnhSanPham] CHECK CONSTRAINT [FK_dbo.AnhSanPham_dbo.SanPham_SanPhamId]
GO
ALTER TABLE [dbo].[AnhSanPham_BienThe]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AnhSanPham_BienThe_dbo.AnhSanPham_AnhSanPhamId] FOREIGN KEY([AnhSanPhamId])
REFERENCES [dbo].[AnhSanPham] ([AnhSanPhamId])
GO
ALTER TABLE [dbo].[AnhSanPham_BienThe] CHECK CONSTRAINT [FK_dbo.AnhSanPham_BienThe_dbo.AnhSanPham_AnhSanPhamId]
GO
ALTER TABLE [dbo].[AnhSanPham_BienThe]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AnhSanPham_BienThe_dbo.BienTheSanPham_BienTheId] FOREIGN KEY([BienTheId])
REFERENCES [dbo].[BienTheSanPham] ([BienTheId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AnhSanPham_BienThe] CHECK CONSTRAINT [FK_dbo.AnhSanPham_BienThe_dbo.BienTheSanPham_BienTheId]
GO
ALTER TABLE [dbo].[AspNetUserClaims]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserClaims] CHECK CONSTRAINT [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserLogins]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserLogins] CHECK CONSTRAINT [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[BienTheGiaTri]  WITH CHECK ADD  CONSTRAINT [FK_dbo.BienTheGiaTri_dbo.BienTheSanPham_BienTheId] FOREIGN KEY([BienTheId])
REFERENCES [dbo].[BienTheSanPham] ([BienTheId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[BienTheGiaTri] CHECK CONSTRAINT [FK_dbo.BienTheGiaTri_dbo.BienTheSanPham_BienTheId]
GO
ALTER TABLE [dbo].[BienTheGiaTri]  WITH CHECK ADD  CONSTRAINT [FK_dbo.BienTheGiaTri_dbo.GiaTriThuocTinh_GiaTriId] FOREIGN KEY([GiaTriId])
REFERENCES [dbo].[GiaTriThuocTinh] ([GiaTriId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[BienTheGiaTri] CHECK CONSTRAINT [FK_dbo.BienTheGiaTri_dbo.GiaTriThuocTinh_GiaTriId]
GO
ALTER TABLE [dbo].[BienTheSanPham]  WITH CHECK ADD  CONSTRAINT [FK_dbo.BienTheSanPham_dbo.SanPham_SanPhamId] FOREIGN KEY([SanPhamId])
REFERENCES [dbo].[SanPham] ([SanPhamId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[BienTheSanPham] CHECK CONSTRAINT [FK_dbo.BienTheSanPham_dbo.SanPham_SanPhamId]
GO
ALTER TABLE [dbo].[BinhLuan]  WITH CHECK ADD  CONSTRAINT [FK_dbo.BinhLuan_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[BinhLuan] CHECK CONSTRAINT [FK_dbo.BinhLuan_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[BinhLuan]  WITH CHECK ADD  CONSTRAINT [FK_dbo.BinhLuan_dbo.SanPham_SanPhamId] FOREIGN KEY([SanPhamId])
REFERENCES [dbo].[SanPham] ([SanPhamId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[BinhLuan] CHECK CONSTRAINT [FK_dbo.BinhLuan_dbo.SanPham_SanPhamId]
GO
ALTER TABLE [dbo].[DanhMuc]  WITH CHECK ADD  CONSTRAINT [FK_dbo.DanhMuc_dbo.DanhMuc_DanhMucChaId] FOREIGN KEY([DanhMucChaId])
REFERENCES [dbo].[DanhMuc] ([DanhMucId])
GO
ALTER TABLE [dbo].[DanhMuc] CHECK CONSTRAINT [FK_dbo.DanhMuc_dbo.DanhMuc_DanhMucChaId]
GO
ALTER TABLE [dbo].[DiaChiGiaoHang]  WITH CHECK ADD  CONSTRAINT [FK_dbo.DiaChiGiaoHang_dbo.KhachHang_KhachHangId] FOREIGN KEY([KhachHangId])
REFERENCES [dbo].[KhachHang] ([KhachHangId])
GO
ALTER TABLE [dbo].[DiaChiGiaoHang] CHECK CONSTRAINT [FK_dbo.DiaChiGiaoHang_dbo.KhachHang_KhachHangId]
GO
ALTER TABLE [dbo].[DonHang]  WITH CHECK ADD  CONSTRAINT [FK_dbo.DonHang_dbo.DiaChiGiaoHang_DiaChiGiaoHang_DiaChiId] FOREIGN KEY([DiaChiGiaoHangId])
REFERENCES [dbo].[DiaChiGiaoHang] ([DiaChiId])
GO
ALTER TABLE [dbo].[DonHang] CHECK CONSTRAINT [FK_dbo.DonHang_dbo.DiaChiGiaoHang_DiaChiGiaoHang_DiaChiId]
GO
ALTER TABLE [dbo].[DonHang]  WITH CHECK ADD  CONSTRAINT [FK_dbo.DonHang_dbo.KhachHang_KhachHangId] FOREIGN KEY([KhachHangId])
REFERENCES [dbo].[KhachHang] ([KhachHangId])
GO
ALTER TABLE [dbo].[DonHang] CHECK CONSTRAINT [FK_dbo.DonHang_dbo.KhachHang_KhachHangId]
GO
ALTER TABLE [dbo].[DonHangChiTiet]  WITH CHECK ADD  CONSTRAINT [FK_dbo.DonHangChiTiet_dbo.BienTheSanPham_BienTheId] FOREIGN KEY([BienTheId])
REFERENCES [dbo].[BienTheSanPham] ([BienTheId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DonHangChiTiet] CHECK CONSTRAINT [FK_dbo.DonHangChiTiet_dbo.BienTheSanPham_BienTheId]
GO
ALTER TABLE [dbo].[DonHangChiTiet]  WITH CHECK ADD  CONSTRAINT [FK_dbo.DonHangChiTiet_dbo.DonHang_DonHangId] FOREIGN KEY([DonHangId])
REFERENCES [dbo].[DonHang] ([DonHangId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DonHangChiTiet] CHECK CONSTRAINT [FK_dbo.DonHangChiTiet_dbo.DonHang_DonHangId]
GO
ALTER TABLE [dbo].[DonHangGiaoHang]  WITH CHECK ADD  CONSTRAINT [FK_dbo.DonHangGiaoHang_dbo.DonHang_DonHangId] FOREIGN KEY([DonHangId])
REFERENCES [dbo].[DonHang] ([DonHangId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DonHangGiaoHang] CHECK CONSTRAINT [FK_dbo.DonHangGiaoHang_dbo.DonHang_DonHangId]
GO
ALTER TABLE [dbo].[Favorite]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Favorite_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Favorite] CHECK CONSTRAINT [FK_dbo.Favorite_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[Favorite]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Favorite_dbo.SanPham_SanPhamId] FOREIGN KEY([SanPhamId])
REFERENCES [dbo].[SanPham] ([SanPhamId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Favorite] CHECK CONSTRAINT [FK_dbo.Favorite_dbo.SanPham_SanPhamId]
GO
ALTER TABLE [dbo].[GiaTriThuocTinh]  WITH CHECK ADD  CONSTRAINT [FK_dbo.GiaTriThuocTinh_dbo.ThuocTinh_ThuocTinhId] FOREIGN KEY([ThuocTinhId])
REFERENCES [dbo].[ThuocTinh] ([ThuocTinhId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[GiaTriThuocTinh] CHECK CONSTRAINT [FK_dbo.GiaTriThuocTinh_dbo.ThuocTinh_ThuocTinhId]
GO
ALTER TABLE [dbo].[GioHangChiTiet]  WITH CHECK ADD  CONSTRAINT [FK_dbo.GioHangChiTiet_dbo.BienTheSanPham_BienTheId] FOREIGN KEY([BienTheId])
REFERENCES [dbo].[BienTheSanPham] ([BienTheId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[GioHangChiTiet] CHECK CONSTRAINT [FK_dbo.GioHangChiTiet_dbo.BienTheSanPham_BienTheId]
GO
ALTER TABLE [dbo].[GioHangChiTiet]  WITH CHECK ADD  CONSTRAINT [FK_dbo.GioHangChiTiet_dbo.GioHang_GioHangId] FOREIGN KEY([GioHangId])
REFERENCES [dbo].[GioHang] ([GioHangId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[GioHangChiTiet] CHECK CONSTRAINT [FK_dbo.GioHangChiTiet_dbo.GioHang_GioHangId]
GO
ALTER TABLE [dbo].[HinhAnhTinTuc]  WITH CHECK ADD  CONSTRAINT [FK_dbo.HinhAnhTinTuc_dbo.TinTuc_TinTucId] FOREIGN KEY([TinTucId])
REFERENCES [dbo].[TinTuc] ([TinTucId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[HinhAnhTinTuc] CHECK CONSTRAINT [FK_dbo.HinhAnhTinTuc_dbo.TinTuc_TinTucId]
GO
ALTER TABLE [dbo].[KhachHang]  WITH CHECK ADD  CONSTRAINT [FK_dbo.KhachHang_dbo.NguoiDung_NguoiDungId] FOREIGN KEY([NguoiDungId])
REFERENCES [dbo].[NguoiDung] ([Id])
GO
ALTER TABLE [dbo].[KhachHang] CHECK CONSTRAINT [FK_dbo.KhachHang_dbo.NguoiDung_NguoiDungId]
GO
ALTER TABLE [dbo].[LichSuGia]  WITH CHECK ADD  CONSTRAINT [FK_dbo.LichSuGia_dbo.BienTheSanPham_BienTheId] FOREIGN KEY([BienTheId])
REFERENCES [dbo].[BienTheSanPham] ([BienTheId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[LichSuGia] CHECK CONSTRAINT [FK_dbo.LichSuGia_dbo.BienTheSanPham_BienTheId]
GO
ALTER TABLE [dbo].[LichSuTonKho]  WITH CHECK ADD  CONSTRAINT [FK_dbo.LichSuTonKho_dbo.BienTheSanPham_BienTheId] FOREIGN KEY([BienTheId])
REFERENCES [dbo].[BienTheSanPham] ([BienTheId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[LichSuTonKho] CHECK CONSTRAINT [FK_dbo.LichSuTonKho_dbo.BienTheSanPham_BienTheId]
GO
ALTER TABLE [dbo].[LichSuTonKho]  WITH CHECK ADD  CONSTRAINT [FK_dbo.LichSuTonKho_dbo.Kho_KhoId] FOREIGN KEY([KhoId])
REFERENCES [dbo].[Kho] ([KhoId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[LichSuTonKho] CHECK CONSTRAINT [FK_dbo.LichSuTonKho_dbo.Kho_KhoId]
GO
ALTER TABLE [dbo].[SanPham]  WITH CHECK ADD  CONSTRAINT [FK_dbo.SanPham_dbo.DanhMuc_DanhMucId] FOREIGN KEY([DanhMucId])
REFERENCES [dbo].[DanhMuc] ([DanhMucId])
GO
ALTER TABLE [dbo].[SanPham] CHECK CONSTRAINT [FK_dbo.SanPham_dbo.DanhMuc_DanhMucId]
GO
ALTER TABLE [dbo].[SanPhamKhuyenMai]  WITH CHECK ADD  CONSTRAINT [FK_dbo.SanPhamKhuyenMai_dbo.KhuyenMai_KhuyenMaiId] FOREIGN KEY([KhuyenMaiId])
REFERENCES [dbo].[KhuyenMai] ([KhuyenMaiId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SanPhamKhuyenMai] CHECK CONSTRAINT [FK_dbo.SanPhamKhuyenMai_dbo.KhuyenMai_KhuyenMaiId]
GO
ALTER TABLE [dbo].[SanPhamKhuyenMai]  WITH CHECK ADD  CONSTRAINT [FK_dbo.SanPhamKhuyenMai_dbo.SanPham_SanPhamId] FOREIGN KEY([SanPhamId])
REFERENCES [dbo].[SanPham] ([SanPhamId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SanPhamKhuyenMai] CHECK CONSTRAINT [FK_dbo.SanPhamKhuyenMai_dbo.SanPham_SanPhamId]
GO
ALTER TABLE [dbo].[ThongKeSanPham]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ThongKeSanPham_dbo.SanPham_SanPhamId] FOREIGN KEY([SanPhamId])
REFERENCES [dbo].[SanPham] ([SanPhamId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ThongKeSanPham] CHECK CONSTRAINT [FK_dbo.ThongKeSanPham_dbo.SanPham_SanPhamId]
GO
ALTER TABLE [dbo].[TonKho]  WITH CHECK ADD  CONSTRAINT [FK_dbo.TonKho_dbo.BienTheSanPham_BienTheId] FOREIGN KEY([BienTheId])
REFERENCES [dbo].[BienTheSanPham] ([BienTheId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TonKho] CHECK CONSTRAINT [FK_dbo.TonKho_dbo.BienTheSanPham_BienTheId]
GO
ALTER TABLE [dbo].[TonKho]  WITH CHECK ADD  CONSTRAINT [FK_dbo.TonKho_dbo.Kho_KhoId] FOREIGN KEY([KhoId])
REFERENCES [dbo].[Kho] ([KhoId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TonKho] CHECK CONSTRAINT [FK_dbo.TonKho_dbo.Kho_KhoId]
GO
USE [master]
GO
